PORT=3000

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=expense-tracker
DB_PORT=5432

NODE_DOCKER_PORT=8080

VITE_BASE_URL=http://localhost:3000
# VITE_BASE_URL=https://expense-app-39i5.onrender.com


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# local
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"


NOVU_ONBOARD_EMAIL=onboard-email
NOVU_ONBOARD_SMS=sms-onboard
NOVU_PASSWORD_RESET_SMS=password-reset-sms
NOVU_PASSWORD_RESET_EMAIL=password-reset-email
NOVU_INVITE_EMAIL=invite-email
NOVU_INVITE_SMS=invite-sms

INVITE_URL=http://localhost:5173/signup